.env
.venv

docker/warehouse

project
target

networks/terrorism/data
networks/terrorism/neo4j_import
networks/terrorism/temporal_mri_import
networks/terrorism/config/config.json
docker/postgres-data/
docker/warehouse/

__pycache__/
*.py[cod]

