AWS_ACCESS_KEY_ID=<set_this>
AWS_SECRET_ACCESS_KEY=<set_this>
AWS_REGION=<set_this>
SPARK_MASTER_PORT=<set_this>
SPARK_MASTER_WEBUI_PORT=<set_this>


# WORKER 1
SPARK_WORKER_PORT_1=<set_this>
SPARK_WORKER_WEBUI_PORT_1=<set_this>
SPARK_WORKER_CORES_1=<set_this>
SPARK_WORKER_MEMORY_1=<set_this>

# WORKER 2
SPARK_WORKER_PORT_2=<set_this>
SPARK_WORKER_WEBUI_PORT_2=<set_this>
SPARK_WORKER_CORES_2=<set_this>
SPARK_WORKER_MEMORY_2=<set_this>


CATALOG_WAREHOUSE=<set_this>
CATALOG_IO__IMPL=<set_this>
CATALOG_S3_ENDPOINT=<set_this>


NEO4J_PASSWORD=<set_this>


MINIO_ROOT_USER=<set_this>
MINIO_ROOT_PASSWORD=<set_this>
MINIO_DOMAIN=<set_this>


JUPYTER_TOKEN=<set_this>


POSTGRES_DB=<set_this>
POSTGRES_USER=<set_this>
POSTGRES_PASSWORD=<set_this>
PGDATA=<set_this>